build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@doc" {with-doc}
  ]
]
depexts: [
  # For pgrep
  ["procps"] {os-family = "debian"}
  ["procps-ng"] {os = "linux" & os-distribution = "archlinux"}
]
